/* import font styles */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');
@import url("https://use.typekit.net/bca7kvg.css");

/* -------------------- COMMON STYLES ACCROSS ALL PAGES --------------------- */
body {
    margin: 0;
    padding: 0;
    background-color: #1F293B;
    color: #FFFFD6;
    font-family: 'Lora', serif;
}

a {
    color: #FFFFD6;
}

a:hover {
    color: #FFFFD6;
    text-decoration: none;
}

button:focus{
    outline: none !important; 
}

h1, h2 {
    text-align: center;
}

/* text styles */
.uppercase {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.lowercase {
    text-transform: lowercase;
    letter-spacing: 1px;
}
.page-describer {
    text-align: center;
    padding: 1rem 1rem;
    font-size: 1rem;
}

/* heading styles */
.heading-cursive {
    font-family: "elina",cursive;
    font-weight: 400;
}

.main-heading-size {
    font-size: 3rem;
}

.main-cursive-size {
    font-size: 2rem;
}

.sub-heading-size {
    font-size: 1.5rem;
}

.sub-cursive-size {
    font-size: 1rem;
}

.main-heading-size, .sub-heading-size {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

/* container styles */
.main-container {
    border: 1px solid #FFFFD6;
    border-radius: 20px;
    background-color: #131A27;
    max-width: 600px;
}

/* common styles across different screen sizes */
@media screen and (min-width:576px) {
    .main-heading-size{
        font-size: 3.5rem;
    }
    .main-cursive-size {
        font-size: 2.5rem;
    }
    .sub-heading-size {
        font-size: 2rem;
    }
    .sub-cursive-size {
        font-size: 1.5rem;
    }
    .page-describer {
        padding: 1rem 0.25rem;
        font-size: 1.15rem;
    }
}

@media screen and (min-width:992px) {
    .main-heading-size{
        font-size: 4rem;
    }
    .main-cursive-size {
    font-size: 3rem;
    }
}

/* -------------------- HEADER--------------------- */
/* to counteract the position of the star and the fixed navbar position */
header {
    margin-bottom: 70px;
}

.navbar{
    border-bottom: 1px solid #FFFFD6;
    background-color: #1F293B;
}

.navbar-nav {
    text-align: center;
}

.nav-item{
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

a .nav-icon{
    background-image: url('../images/icons/yellow-star-new.png');
    background-size: contain;
    height: 22px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

a:hover .nav-icon, .active a .nav-icon, .nav-item:hover, .active {
    opacity: 1;
}

.navbar-toggler-icon {
    background-image: url('../images/icons/hamburger-menu.png');
    width: 31px;
    height: 31px;
}

/* Add star logo to the header and format the position */
#header-star {
    height: 60px;
    width: 40px;
    background-image: url('../images/icons/yellow-star-new.png');
    background-size: contain;
    position: absolute;
    top: 12px;
}

/* -------------------- FOOTER --------------------- */
footer {
    border-top: 1px solid #FFFFD6;
}

.footer-item{
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.footer-item:hover {
    transform: scale(1.2)
}

/* -------------------- CONSTELLATIONS AND ZODIAC PAGE COMMON STYLES --------------------- */
.graphic-button {
    padding: 0;
    background: none;
    border: 1px solid #FFFFD6;
    border-radius: 40%;
}

.graphix-button, .graphic-button img {
    width: 75px;
    height: 75px;
}

.graphic-button-heading {
    font-family: "Elina", cursive;
    margin-bottom: 0.25rem;
}

.graphic-button-container {
    max-width: 300px;
    margin: 0 auto;
}

@media screen and (min-width:576px) {
    .graphic-button-container {
        max-width: 600px;
        
    }
}

/* -------------------- CONSTELLATIONS PAGE STYLE --------------------- */
.model-container {
    height: 400px;
    max-width: 400px;
}
